@model NMS.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "EditUserCredential";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid p-5 mt-5">
        <h2>EditUserCredential</h2>

       @using (Html.BeginForm("EditUserCredential", "Owner", FormMethod.Post))
       {
        
            <div>
                @Html.LabelFor(m => m.UserCredential.userTypeId)
                @Html.TextBoxFor(m => m.UserCredential.userTypeId, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(m => m.UserCredential.userTypeId)
            </div>
            <div>
                @Html.LabelFor(m => m.UserCredential.userTypeName)
                @Html.TextBoxFor(m => m.UserCredential.userTypeName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserCredential.userTypeName)
            </div>
            <div>
                <input type="submit" value="Save" class="form-control"/>
            </div>

        
        }
    </div>