@model NMS.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "UserCredentialList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid p-5">
    <h2>UserCredentialList</h2>
    <div class="row">
        <div class="col col-sm-3"> @Html.ActionLink("ADD New UserCredential", "EditUserCredential", new { Controller = "Owner", id = -1 }, new { @class = "btn btn-success" })</div>
    </div>
    <div class="row">
        <table class="table-striped w-100 pt-5">
            <tr class="thead-light w-100">
                <th>User Type Id </th>
                <th>User Type Name </th>

                <th>Edit</th>
                <th>Delete</th>

            </tr>
            @foreach (var user in @Model.UserCredentials)
            {
        <tr>
            <td>
                @user.userTypeId
            </td>
            <td>
                @user.userTypeName
            </td>

            <td>
                @Html.ActionLink("EDIT", "EditUserCredential", new { Controller = "Owner", id = user.userTypeId }, new { @class = "btn btn-info" })
            </td>
            <td>@using(Html.BeginForm("DeleteUserCredential","Owner",FormMethod.Post))
            {
                @*@Html.LabelFor( m=>m.UserCredential.userTypeId==user.userTypeId)*@
                <input type="text" name="id"value="@user.userTypeId" hidden />
                <input type="submit" value="Delete" class="btn btn-danger " />
            }
                @*@Html.ActionLink("EDIT", "EditUserCredential", new { Controller = "Owner", id = user.userTypeId }, new { @class = "btn btn-danger" })*@
            </td>
        </tr>
            }
        </table>
    </div>
</div>