@model NMS.Models.ViewModel.ProductImageNavViewModel
@{
    ViewBag.Title = "GetDetail";
    Layout = "~/Views/Shared/_LayoutPageGuest.cshtml";
}
<script type="text/javascript"
        src="//code.jquery.com/jquery-1.9.1.js">
</script>

<h2>GetDetail</h2>

<div class="container-fluid">
    @if (Model.products != null)
    {
        <div class="row">
            <div class="col c0l-sm-12">
                <div id="home-slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Images.Count(); i++)
                        {
                            <li data-target="#home-slider" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Images.Count(); i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" :"")">

                                <img class="d-block w-100 " alt="@Model.Images[i].ImageTitle" src="data:image/jpg;base64,@Convert.ToBase64String(@Model.Images[i].ImageData)" style="max-height:500px;max-width:100%" />
                            </div>
                        }
                    </div>

                    <a class="left carousel-control" href="#home-slider" role="button" data-slide="prev">
                        <span class="corousel-item-next"></span>
                    </a>
                    <a class="right carousel-control" href="#home-slider" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col col-sm-12">
                <div class="card">

                    <div class="card-header bg-primary "><h1>@Model.products.productName</h1></div>
                    <div class="card-body">
                        <p> Description:@Model.products.productDescription</p>
                        <div class="align-content-center bg-success">
                            Status:@Model.products.productStatus
                        </div>
                        <p> Price:@Model.products.productPrice</p>

                    </div>
                    <div class="card-footer bg-warning btn">Add To Favourite</div>

                </div>
            </div>



        </div>
        <br />
        <br />
       
















    }
</div>
<script>
    $('.carousel').carousel('cycle');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>